html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

h1 {
	margin: 0em 2em 2em 2em;
	text-align: center;
	position: relative;
	top: 100px;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 200%;
	color: #ffffff;
	line-height: 150%;
}

#div-hero {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 37em;
	background-color: #e6385b
}

#div-signup {
	margin: 0 auto;
	padding: 0;
	width: 25em;
	height: 8em;
	background-color: red;
	position: relative;
	top: 8.5em;
}
