html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

h1 {
	margin: 0em 2.5em 2em 2.5em;
	text-align: center;
	position: relative;
	top: 3.4em;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 2em;
	color: #ffffff;
	line-height: 150%;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #ffffff;
	line-height: 150%;
}

p {
	margin: 0em;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
	line-height: 180%;
}

form {
	/* Styles the form */
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	background: #ffffff;
	height: 2em;
	width: 20em;
	margin: .5em 0em 0em 0em;
	padding: 0;
	-webkit-appearance: none;
}

input[type=text] {
	height: 2em;
	width: 15em;
	border: none; 
	background: #ffffff;
	color: #1ec47a;
	font-size: 1em;
	text-align: center;
	font-weight: 400;
	font-family: Raleway, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

input[type=text]:active {
	outline-style: none;
	-webkit-appearance: none;
}

input[type=text]:focus {
	outline-style: none;
	-webkit-appearance: none;
}

input[type=submit] {
	height: 2em;
	width: 4.7em;
	border: none;
	background: #1ec47a;
	color: #ffffff;
	font-size: 1em;
	font-weight: 400;
	font-family: Raleway, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

input[type=submit]:hover {
	background: #24e38e;
	-webkit-appearance: none;
}

input[type=submit]:active {
	outline-style: none;
	-webkit-appearance: none;
}

input[type=submit]:focus {
	outline-style: none;
	-webkit-appearance: none;
}

#div-hero {
	margin: 0;
	width: 100vw;
	height: 37em;
	background-color: #fa0d52;
}

#div-signup {
	margin: 0 auto;
	padding: 0;
	width: 20.2em;
	height: 6.35em;
	background-color: none;
	position: relative;
	top: 8.5em;
}

#div-slanted-phone {
	width: 100%;
	height: 15em;
	background-color: #fa0d52;
	background-image: URL("http://i.imgur.com/FyOVYAz.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 15em;
	margin: 9em 0em 0em 0em;
	padding: 0em;
}

#div-downward-arrow {
	width: 100vw;
	height: 7em;
	background-color: #ffffff;
	background-image: URL("http://i.imgur.com/3QnrM90.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 2em;
}

.div-wrapper-walkthrough-white {
	width: 100vw;
	height: 42em;
	margin: 0;
	padding: 7em 0em 0em 0em;
	background-color: #ffffff;
}

.div-wrapper-walkthrough-black {
	width: 100vw;
	height: 42em;
	margin: 0;
	padding: 7em 0em 0em 0em;
	background-color: #151515;
}

.div-walkthrough {
	width: 37.8em;
	height: 35.5em;
	margin: 0em auto;
	padding: 0;
	background-color: none;
}

.img-walkthrough {
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.div-walkthrough-text-white {
	height: 5.3em;
	width: 17em;
	margin: 0em 0em 0em 3em;
	padding: 0;
	display: inline-block;
	position: relative;
	top: -15em;
	background-color: none;
}

.div-walkthrough-text-white > h2 {
	color: #fa0d52;
}

.div-walkthrough-text-white > p {
	color: #000000;
}

.div-walkthrough-text-black {
	height: 5.3em;
	width: 17em;
	margin: 0em 0em 0em 3em;
	padding: 0;
	display: inline-block;
	position: relative;
	top: -15em;
	background-color: none;
}

.div-walkthrough-text-black > h2 {
	color: #fa0d52;
}

@media only screen and (max-width: 720px) {
	.div-wrapper-walkthrough-white {
		height: 50em;
	}

	.div-wrapper-walkthrough-black {
		height: 50em;
	}

	.div-walkthrough {
		width: 17.5em;
	}

	.div-walkthrough-text-white {
		display: block;
		margin-top: 17em;
		margin-bottom: 0em;
		margin-left: auto;
		margin-right: auto;
	}

	.div-walkthrough-text-black {
		display: block;
		margin-top: 17em;
		margin-bottom: 0em;
		margin-left: auto;
		margin-right: auto;
	}

	.div-walkthrough-text-white > p {
		font-size: 1em;
	}

	.div-walkthrough-text-black > p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.8em;
		top: 3em;
		margin: 0em 2em 1em 2em;
	}

	p {
		font-size: .85em;
		line-height: 170%;
	}

	form {
		/* Styles the form */
		width: 17.5em;
	}

	input[type=text] {
		width: 12.55em;
		font-size: 1em;
	}

	input[type=submit] {
		width: 4.7em;
		font-size: 1em;
	}

	#div-signup {
		width: 17.5em;
		height: 6em;
	}

	#div-slanted-phone {
		background-image: none;
	}
}
