body,
html {
	width: 100vw;
  	height: 100vh;
  	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
}

h1 {
	margin: 0 auto;
	padding-top: 45vh;
	text-align: center;
}

.div-orientation {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	z-index: 10;
	display: none;	
}

#full-screen {
	background-color: yellow;
	margin: 1vh;
	width: 8vh;
	height: 8vh;
	border-radius: 4vh;
	position: absolute;
	cursor: pointer;
}

.container {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.div-game-wrapper {
	display: flex;
	width: 85vw;
	height: 42.5vw;
	background-color: grey;
}

.div-section-wrapper-1 {
	width: 75%;
	height: 100%;
	background-color: red;
	flex-wrap: nowrap;
}

.div-section-wrapper-2 {
	width: 25%;
	height: 100%;
	background-color: blue;
	flex-wrap: nowrap;
}

.div-section-subwrapper-1 {
	width: 100%;
	height: 75%;
	background-color: grey;
	display: flex;
}

.div-section-subwrapper-2 {
	width: 100%;
	height: 25%;
	background-color: red;
	display: flex;
}

.section-viewer {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	background-image: url(https://ethandirks.com/ab/assets/images/background.png);
	background-size: 100%;
	background-position: bottom right;
}

.section-profile {
	width: 25%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	flex-wrap: nowrap;
	background-image: url(https://ethandirks.com/ab/assets/images/profile.png);
	background-size: 100%;
	background-position: top right;
}

.section-dialogue {
	width: 75%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	flex-wrap: nowrap;
	background-image: url(https://ethandirks.com/ab/assets/images/dialogue.png);
	background-size: 100% 100%;
	background-position: top right;
}

.section-actions {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	flex-wrap: nowrap;
	background-image: url(https://ethandirks.com/ab/assets/images/action.png);
	background-size: 100% 100%;
	background-position: top right;
}

.action-button-wrapper {
	width: 100%;
	height: 100%;
	padding: 10%;
}

.action-button {
	width: 80%;
	height: 14%;
	margin: 0% 0% 9% 0%;
	background-color: rgba(255,255,255,0.5);
	background-image: url(https://ethandirks.com/ab/assets/images/button.png);
	background-size: 100% 100%;
	background-position: top right;
}

.div-meter {
	width: 25%;
	height: 90%;
	background-color: grey;
	margin: 4%;
}