body,
html {
	width: 100vw;
  	height: 100vh;
  	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
}

.container {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.div-game-wrapper {
	display: flex;
	width: 51rem;
	height: 34.5rem;
	background-color: #ffffff;
}



.div-viewer-dialogue-wrapper {
	height: 100%;
	width: 75%;
	flex-wrap: nowrap;
}

.section-viewer {
  	width: 100%;
  	height: 75%;
  	background-color: rgba(0,0,0,0.5);
}

.section-dialogue {
 	width: 100%;
  	height: 25%;
  	background-color: rgba(0,0,0,0.4);
}



.div-actions-tech-wrapper {
	height: 100%;
	width: 25%;
	flex-wrap: nowrap;
}

.section-actions {
 	width: 80%;
  	height: 55%;
  	background-color: rgba(0,0,0,0.3);
  	padding: 10%;
}

.action-button {
	width: 100%;
	height: 16.4%;
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto 8% auto;
	cursor: pointer;
}

.section-tech {
 	width: 100%;
 	height: 37.5%;
  	background-color: rgba(0,0,0,0.2);
  	position: relative;
}

.toggle-wrapper {
	display: flex;
	width: 100%;
	height: 15%;
	position: absolute;
	bottom: -1%;
}

.toggle-button {
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	flex-wrap: nowrap;
}

#toggle-button-1 {
	background-color: rgba(0,0,0,0.4);
}

#toggle-button-2 {
	background-color: rgba(0,0,0,0.5);
}

@media (max-width: 1000px) {	
	.div-game-wrapper {
		width: 80vw;
		height: 53.33vw;
	}
}

@media (max-height: 580px) {	
	.div-game-wrapper {
	  	height: 95vh;
	  	width: 140vh;
}


@media (max-height: 340px) {	
	.div-game-wrapper {
	  	height: 95vh;
	  	width: 140vh;
	}
}

@media (max-height: 580px) and (max-width: 400px) {	
	.div-game-wrapper {
	  	height: 95vh;
	  	width: 140vh;
	}
}


@media (orientation: landscape) and (max-width: 700px) and (min-width: 600px) {
	.div-game-wrapper {
	  	height: 95vh;
	  	width: 145vh;
	}
}